.nav {
  a.breadcrumb {
    display: inline-block;
    &:not(.home):hover {
      text-decoration: underline;
    }
    &:after {
      font-family: 'Ionicons' !important;
      content: "\f3d3";
      display: inline-block;
      font-size: .9rem;
      margin-left: 5px;
    }
  }
  &.breadcrumb {
    span {
      &:last-of-type {
        a {
          &:after {
            content: '';
          }
        }
      }
    }
  }
}

nav {
  &.breadcrumb {
    background: #F4F4F4;
    padding: 1.2rem 0;
    font-size: .9rem;

    a {
      display: inline-block;
      &:link, &:visited {
        color: $ipaPurple;
      }
      &:hover {
        text-decoration: underline;
      }

      &:after {
        font-family: 'Ionicons' !important;
        content: "\f3d3";
        display: inline-block;
        font-size: .9rem;
        margin-left: 5px;
        color: $white;
      }
    }

  }
}