.has-tooltip {
  position: relative;

  .tooltip {
    display: none;
    align-items: center;
    position: absolute;
    top: calc(50% - 0.75rem);
    left: calc(100% + 10px);
    height: 1.5rem;
    padding: 0 0.5rem;
    border-radius: 2px;
    background: #999999;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 0.8rem;
    white-space: nowrap;
    text-transform: none;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    transition: opacity 300ms ease-out;

    &::before {
      content: ' ';
      position: absolute;
      top: calc(50% - 6px);
      left: -12px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-right-color: #999999;
    }
  }

  &:hover,
  &:focus {
    .tooltip {
      display: flex;
      opacity: 1;
    }
  }

  &.left {
    .tooltip {
      left: auto;
      right: calc(100% + 10px);

      &::before {
        left: auto;
        right: -12px;
        border-right-color: transparent;
        border-left-color: #999999;
      }
    }
  }
}
