@import "../definitions";

.flex-content-container {
  max-width: $maxWidth;
  margin: 0 auto;
  flex-direction: column;

  .flex-columns {
    display: flex;
    flex-direction: row;
  }

  @for $i from 5 through 100 {
    @if $i % 5 == 0 {
      .w-#{$i} {
        width: #{$i}#{'%'};
      }
    }
  }

  .w-33 {
    width: 33%;
  }

  .align-center {
    text-align: center;
  }

  .flex-end {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .flex-center {
    display: flex;
    align-items: center;
  }

  .row-separator {
    height: 1rem;
  }
}
